@import './Vars.scss';
@import './Media.scss';
@import './components/Input.scss';

body {
  font-family: $theme-font;
  background: $main-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}